---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/ProjectCard.astro';
const allProjects = await getCollection("projects");
const allAcademics = await getCollection("academics");
---
<Layout title="Projects">
    <h2 class="underline">Projects</h2>
    <ul role="list" class="link-card-grid">
        {allProjects.reverse().map((card) => <Card 
            href={`/projects/${card.slug}/`} 
            image={card.data.imageThumb.url} 
            title={card.data.title} 
            body={card.data.description}
        />)}
    </ul>

        <h2 class="underline">Academic Work</h2>
        <ul role="list" class="link-card-grid">
        {allAcademics.reverse().map((card) => <Card 
            href={`/academics/${card.slug}/`} 
            image={card.data.image.url} 
            title={card.data.title} 
            body={card.data.description}
        />)}
    </ul>
</Layout>

<style>
	main {
		color: white;
	}
</style>
